.i-select-wrapper {
  --i-select-primary: 30 30 30;
  --i-select-active: 40 40 40;
  --i-select-item-active: 40 82 146;
  --i-select-border: 200 200 200;
  --i-select-animation-duration: .25s;
  --i-select-width: 100%;
  --i-select-font-size: 1rem;

  font-size: var(--i-select-font-size);
  width: var(--i-select-width);

  .i-select {
    position: relative;
    display: flex;
    flex-direction: column;

    .i-select-main-wrapper {
      background: rgb(var(--i-select-primary));
      padding-block: 1em;
      padding-inline: 1em;
      display: flex;
      flex-direction: column;
      gap: .25em;
      transition: background var(--i-select-animation-duration) ease;
      border-bottom: 1px solid rgb(var(--i-select-border));

      .i-select-title {
        font-size: 1.5em;
        transition: 500ms ease;
        transition-property: font-size color;
      }
      
      .i-select-active {
        font-size: 0em;
        transition: var(--i-select-animation-duration) ease;
        transition-property: font-size;
      }
    }

    .i-select-options-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-height: 0em;
      overflow: hidden;
      transition: max-height var(--i-select-animation-duration) ease-out;

      .i-select-option-wrapper {
        
        .i-select-option {
          background: rgb(var(--i-select-primary));
          padding-block: 1em;
          padding-inline: 1em;

          &:hover,
          &:focus-visible {
            background: rgb(var(--i-select-active));
          }

          &[data-active="true"] {
            background: rgb(var(--i-select-item-active));
          }
        }
      }
    }
  }

  &[data-state="open"] {
    .i-select-options-wrapper {
      max-height: 25em;
      overflow-y: auto;
    }
  }

  &[data-active-value] {
    .i-select-main-wrapper {
      .i-select-title {
        font-size: 1em;
        color: #ccc;
      }

      .i-select-active {
        font-size: 1.3em;
      }
    }
  }

  button {
    width: 100%;
    text-align: left;
    background: none;
    outline: 0;
    border: 0;
    border-radius: 0;
    font: inherit;
  }
}
