<!DOCTYPE html>
<html lang="en">
<head>
  <head>
  <script src="/assets/js/google-analytics.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-NFBFKKDXWC"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'G-NFBFKKDXWC');
  </script>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="og:site_name" content="Streamer.bot Actions">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://ik1497.github.io/assets/images/favicon.png">
  <link rel="icon" href="https://ik1497.github.io/assets/images/favicon.png">
  <meta name="theme-color" content="#B80086">

  <link rel="stylesheet" href="/Streamerbot-Toolbox/style.css">
  <link rel="stylesheet" href="/assets/css/animation.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.0.96/css/materialdesignicons.min.css">

  <script src="/assets/js/theme.js" defer=""></script>

  <!-- Components -->

  <script src="./main.js"></script>
  <link rel="stylesheet" href="./style.css">

  <!-- End Components -->
  
  <meta name="og:site_name" content="Streamer.bot Actions">
  <meta property="og:image" content="https://ik1497.github.io/assets/images/favicon.png">
  <meta name="theme-color" content="#B80086">
  
  <meta property="og:title" content="Streamer.bot Toolbox">
  <meta property="og:description" content="Streamline your Streamer.bot developing experience!">
  <title>Main (0.1.18) • Streamer.bot Toolbox v1.0.0-pre | Streamer.bot Actions</title></head>  
</head>
<body>
  <main>
    <div class="main nested full">
    </div>
  </main>

  <script defer>
    const select = createSelect(`State`, [
      {value: `AL`, name: `Alabama`},
      {value: `AK`, name: `Alaska`},
      {value: `AZ`, name: `Arizona`},
      {value: `AR`, name: `Arkansas`},
      {value: `CA`, name: `California`},
      {value: `CO`, name: `Colorado`},
      {value: `CT`, name: `Connecticut`},
      {value: `DE`, name: `Delaware`},
      {value: `DC`, name: `District Of Columbia`},
      {value: `FL`, name: `Florida`},
      {value: `GA`, name: `Georgia`},
      {value: `HI`, name: `Hawaii`},
      {value: `ID`, name: `Idaho`},
      {value: `IL`, name: `Illinois`},
      {value: `IN`, name: `Indiana`},
      {value: `IA`, name: `Iowa`},
      {value: `KS`, name: `Kansas`},
      {value: `KY`, name: `Kentucky`},
      {value: `LA`, name: `Louisiana`},
      {value: `ME`, name: `Maine`},
      {value: `MD`, name: `Maryland`},
      {value: `MA`, name: `Massachusetts`},
      {value: `MI`, name: `Michigan`},
      {value: `MN`, name: `Minnesota`},
      {value: `MS`, name: `Mississippi`},
      {value: `MO`, name: `Missouri`},
      {value: `MT`, name: `Montana`},
      {value: `NE`, name: `Nebraska`},
      {value: `NV`, name: `Nevada`},
      {value: `NH`, name: `New Hampshire`},
      {value: `NJ`, name: `New Jersey`},
      {value: `NM`, name: `New Mexico`},
      {value: `NY`, name: `New York`},
      {value: `NC`, name: `North Carolina`},
      {value: `ND`, name: `North Dakota`},
      {value: `OH`, name: `Ohio`},
      {value: `OK`, name: `Oklahoma`},
      {value: `OR`, name: `Oregon`},
      {value: `PA`, name: `Pennsylvania`},
      {value: `RI`, name: `Rhode Island`},
      {value: `SC`, name: `South Carolina`},
      {value: `SD`, name: `South Dakota`},
      {value: `TN`, name: `Tennessee`},
      {value: `TX`, name: `Texas`},
      {value: `UT`, name: `Utah`},
      {value: `VT`, name: `Vermont`},
      {value: `VA`, name: `Virginia`},
      {value: `WA`, name: `Washington`},
      {value: `WV`, name: `West Virginia`},
      {value: `WI`, name: `Wisconsin`},
      {value: `WY`, name: `Wyoming`},
    ], {

    })

    document.querySelector(`.main`).append(select.element)
  </script>
</body>
</html>