i-tabs {
  --i-tabs-navigation-background: #36a5ff;
  --i-tabs-navigation-indicator-background: #36a5ff;
  --i-tabs-background: var(--background-mute);
  --i-tabs-color: var(--text-900);
  --i-tabs-border-radius: .5rem;
  --i-tabs-navigation-item-hover-background: var(--background-light);
  --i-tabs-transition-duration: .75s;
  --i-tabs-transition-timing-function: ease;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
i-tabs i-tabs-header i-tabs-header-navigation {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: auto;
}
i-tabs i-tabs-header i-tabs-header-navigation i-tabs-header-navigation-list {
  display: flex;
  gap: 0.25rem;
}
i-tabs i-tabs-header i-tabs-header-navigation i-tabs-header-navigation-list i-tabs-header-navigation-list-item button[is=i-tabs-header-navigation-list-item-button] {
  border: none;
  outline: none;
  border-radius: var(--i-tabs-border-radius);
  background: var(--i-tabs-background);
  padding-inline: 2.5rem;
  padding-block: 1rem 1.25rem;
  color: var(--i-tabs-color);
  cursor: pointer;
}
i-tabs i-tabs-header i-tabs-header-navigation i-tabs-header-navigation-list i-tabs-header-navigation-list-item button[is=i-tabs-header-navigation-list-item-button]:hover, i-tabs i-tabs-header i-tabs-header-navigation i-tabs-header-navigation-list i-tabs-header-navigation-list-item button[is=i-tabs-header-navigation-list-item-button]:focus-visible {
  background: var(--i-tabs-navigation-item-hover-background);
}
i-tabs i-tabs-header i-tabs-header-navigation i-tabs-header-navigation-indicator {
  height: 0.25rem;
  border-radius: 100vmax;
  position: absolute;
  bottom: 0rem;
  left: 0;
  background: var(--i-tabs-navigation-indicator-background);
  transition: var(--i-tabs-transition-duration) var(--i-tabs-transition-timing-function);
  transition-property: width, left;
}
i-tabs i-tabs-body i-tabs-body-tabs {
  transition: var(--i-tabs-transition-duration) var(--i-tabs-transition-timing-function);
  transition-property: height, min-height;
  background: var(--i-tabs-background-body, var(--i-tabs-background));
  border-radius: var(--i-tabs-border-radius);
  display: block;
  position: relative;
  overflow: hidden;
  padding-inline: 0.5rem;
  padding-block: 1rem;
  box-sizing: content-box;
}
i-tabs i-tabs-body i-tabs-body-tabs i-tabs-body-tab {
  display: none;
  width: 100%;
  min-height: fit-content;
}
i-tabs i-tabs-body i-tabs-body-tabs i-tabs-body-tab:not([data-state=active]) {
  position: absolute;
}
i-tabs i-tabs-body i-tabs-body-tabs i-tabs-body-tab[data-state] {
  display: block;
}
i-tabs i-tabs-body i-tabs-body-tabs i-tabs-body-tab[data-state=inactive] {
  display: none;
}
i-tabs i-tabs-body i-tabs-body-tabs i-tabs-body-tab[data-state=becoming-inactive] {
  transition: transform var(--i-tabs-transition-duration) var(--i-tabs-transition-timing-function);
}
i-tabs i-tabs-body i-tabs-body-tabs i-tabs-body-tab[data-state=becoming-inactive][data-direction=right] {
  transform: translateX(100%);
}
i-tabs i-tabs-body i-tabs-body-tabs i-tabs-body-tab[data-state=becoming-inactive][data-direction=left] {
  transform: translateX(-100%);
}
i-tabs i-tabs-body i-tabs-body-tabs i-tabs-body-tab[data-state=becoming-pre-active][data-direction=right], i-tabs i-tabs-body i-tabs-body-tabs i-tabs-body-tab[data-state=becoming-active][data-direction=right] {
  transform: translateX(100%);
}
i-tabs i-tabs-body i-tabs-body-tabs i-tabs-body-tab[data-state=becoming-pre-active][data-direction=left], i-tabs i-tabs-body i-tabs-body-tabs i-tabs-body-tab[data-state=becoming-active][data-direction=left] {
  transform: translateX(-100%);
}
i-tabs i-tabs-body i-tabs-body-tabs i-tabs-body-tab[data-state=becoming-active] {
  transition: transform var(--i-tabs-transition-duration) var(--i-tabs-transition-timing-function);
}
i-tabs i-tabs-body i-tabs-body-tabs i-tabs-body-tab[data-state=becoming-active][data-direction=right] {
  transform: translateX(0) !important;
}
i-tabs i-tabs-body i-tabs-body-tabs i-tabs-body-tab[data-state=becoming-active][data-direction=left] {
  transform: translateX(0) !important;
}

/*# sourceMappingURL=style.css.map */
