.i-tabs-wrapper {
  --i-tab-title-background: var(--accent-primary);
  --i-tab-content-background: var(--background-soft);

  .i-tabs-content {
    .i-tabs-content-tab {

      .i-tabs-content-tab-title,
      .i-tabs-content-tab-content {
        padding-inline: .5rem;
        padding-block: .5rem;
      }
    
      .i-tabs-content-tab-title {
        background: var(--tab-title-background);
      }
      
      .i-tabs-content-tab-content {
        background: var(--tab-content-background);
      }
    }
  }
}
