* {
    margin: 0;
    padding: 0;
}

body {
    margin: 1rem;
}

ul.button-grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: .25rem;
}

ul.button-grid li button {
    width: 100%;
    height: 100%;
    background: #181818;
    border: none;
    outline: none;
    padding-block: 2rem;
    padding-inline: 1rem;
    text-align: center;
    cursor: pointer;
}

ul.button-grid li button .name {
    font-weight: 900;
    color: #fff;
}

ul.button-grid li button .description {
    font-weight: 400;
    color: #bbb;
}