@import url(/assets/css/root.css);

:root {
    --text-color: hsl(0, 0%, 100%);
    --text-color-700: hsla(0, 0%, 100%, 75%);
    --text-color-600: hsla(0, 0%, 100%, 47.5%);
    --text-color-500: hsla(0, 0%, 100%, 40%);
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 20px;
    border: none;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }
  
  ::-webkit-scrollbar-track {
    background: #333;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 
        "header header" 3em
        "navbar event-data" calc(100vh - 3em)
            / 30em auto;
    font-family: Arial;
    color: var(--text-color);
    background: var(--v-background);
}

@media screen and (max-width: 1000px) {
    body {
        grid-template: 
        "header" 3em
        "event-data" auto
        "navbar" 100vh
            / auto;
    }
}

header {
    grid-area: header;
    padding-left: .5em;
    background: var(--v-background-mute);
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    display: grid;
    grid-template:
        "header-img header-title"
        "header-img header-subtitle"
            / 47.5px 15em;
}

header img {
    grid-area: header-img;
    width: 40px;
    margin: auto 0;
}

header .page-title {
    grid-area: header-title;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    color: var(--text-color);
}

header .page-subtitle {
    grid-area: header-subtitle;
    display: flex;
    align-items: flex-start;
    color: var(--text-color-600);
}

h2 {
    font-size: 1.25em;
    color: var(--text-color-700);
}

.obs-events-nav {
    grid-area: navbar;
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    background: var(--v-background-alt);
    padding-block: 1em;
}

.obs-events-nav-group-label {
    color: var(--v-primary-accent);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding-inline: .75em;
    padding-block: .5em;
}

.obs-events-nav .obs-event-list-item {
    padding-inline: .75em;
    padding-block: .1em;
    position: relative;
}

.obs-events-nav .obs-event-list-item a:has(.obs-event-list-item-version) {
    grid-template: 
        "obs-event-list-item-title obs-event-list-item-version" auto
        "obs-event-list-item-description obs-event-list-item-version" auto
            / auto min-content;
}

.obs-events-nav .obs-event-list-item a {
    border-radius: 8px;
    padding: .6em;
    text-decoration: none;
    display: grid;
    grid-template: 
        "obs-event-list-item-title"
        "obs-event-list-item-description";
}

.obs-events-nav .obs-event-list-item a:hover,
.obs-events-nav .obs-event-list-item a:focus-visible {
    background: var(--v-background-soft);
}

.obs-events-nav .obs-event-list-item.obs-events-nav-active a {
    background: var(--v-primary-accent-alt);
}

.obs-events-nav .obs-event-list-item a .obs-event-list-item-title {
    grid-area: obs-event-list-item-title;
    color: var(--text-color);
}

.obs-events-nav .obs-event-list-item a .obs-event-list-item-description {
    grid-area: obs-event-list-item-description;
    color: var(--text-color-500);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.obs-events-nav .obs-event-list-item a .obs-event-list-item-version {
    grid-area: obs-event-list-item-version;
    color: var(--text-color-700);
    background: var(--v-primary-accent);
    padding-inline: .4em;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: auto;
}

.obs-events-data {
    grid-area: event-data;
    padding: 1em;
}

section {
    margin-block: 1em;
}

/* -------------------
   Main
   ------------------- */

/* Top Section */
.obs-events-data-top-section {
    display: grid;
}

.obs-events-data-top-section-title {
    font-size: 1.5em;
}

.obs-events-data-top-section-description {
    color: var(--text-color-600);
}

/* Tables */
table thead {
    font-weight: bold;
}

table tr td.table-left {
    text-align: left;
}

table tr td.table-center {
    text-align: center;
}

table tr td.table-right {
    text-align: right;
}

table tr td {
    padding-inline: .5em;
    padding-block: .35em;
}

table tbody tr:not(:nth-child(even)) td {
    background: var(--v-background-soft);
    border: 1px solid var(--v-background-darken);
}

table tr:nth-child(even),
table thead {
    background: var(--v-background-alt);
}

.stars {
    --star-size: 1.25rem;
    --star-color: #646464;
    --star-background: #ffc107;

    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}

.stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg,var(--star-background) var(--percent),var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Datatype / Version Badges */

.obs-version-badge {
    background-color: #545454;
}
.obs-badge, .obs-version-badge, .translation-badge, .version-badge {
    font-size: .7rem;
    color: rgba(255,255,255,.8);
    border: none;
    border-radius: 0;
    align-self: center;
    font-style: normal;
    padding: 0.1rem 0.4rem;
}


code {
    font-size: .9em;
    background: rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.4);
    font-weight: 400;
    box-shadow: none;
}

.datatype {
    font-family: monospace;
    font-style: normal!important;
    color: #ddd!important;
    border-radius: 2px;
    padding: 0.2rem 1rem;
}

.code.datatype {
    color: #aac8e4!important;
}

.datatype-data {
    font-style: normal;
    color: var(--v-primary-accent);
}

.datatype-data::before {
    content: "<";
}

.datatype-data::after {
    content: ">";
}
