@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
  * {
   padding: 0;
   margin: 0;
  }
  :root {
    --v-primary-base: #22252b;
    --v-secondary-base: #1b1d22;
    --v-accent-base: #a158ed;
    --v-secondary-accent-base: #00dbff;
    --v-accent-lighten1: #666;
    --v-accent-lighten2: #444;

    --v-background: #22252B;
    --v-background-alt: #1B1D22;
    --v-background-soft: #292C33;
    --v-background-mute: #343841;
    --v-background-accent: #5555ff;
   
    --v-color-discord: #5865F2;
    --v-color-link: #0066FF;

    --v-main-text-gradient-deg: 300deg;
    --v-main-text-gradient: -webkit-linear-gradient(var(--v-main-text-gradient-deg), rgba(0,255,252,1) 0%, rgba(255,0,215,1) 100%);

    --v-blockquote-is-warning-base: #2d2d2a;
    --v-blockquote-is-warning-color: #fcd253;
    
    --v-blockquote-is-info-base: #1f2931;
    --v-blockquote-is-info-color: #53aafc;
    
    --v-blockquote-is-success-base: #232c30;
    --v-blockquote-is-success-color: #42d392;
    
    --v-blockquote-is-danger-base: #2c262d;
    --v-blockquote-is-danger-color: #f54e82;

    --v-blockquote-base: #2c2e34;
    --v-blockquote-color: #c0c0c0;

    --v-blockquote-box-shadow: #212121;
    --v-blockquote-code-base: #141414;
    --v-blockquote-code-font-weight: 500;
    --v-blockquote-code-border: #444;
    --v-blockquote-ff: Arial;
    --v-blockquote-border-radius: 8px;

    --v-mobile-width: 50em;
  }
body {
    padding-top: 1em;
    max-width: 1200px;
    font-family: Poppins;
    font-size: 16px;
    color: white;
    background-color: #22252b;
    overflow: hidden visible;
    margin: 0 auto;
    margin-top: 2em;
}
.color-discord {color: var(--v-color-discord)}
div.items-grid {
    padding: 0;
    display: grid;
    gap: .8em;
    margin: .8em 0em;
    grid-template-columns: repeat(auto-fit,minmax(391px,1fr));
}
a.item-grid-item {
    background: var(--v-background-soft);
    padding: .5em;
    border-radius: 10px;
    border: 1px solid var(--v-background-soft);
    transition: border-color .3s ease, box-shadow .3s ease;
}
a.item-grid-item:hover { 
    border-color: var(--v-color-link);
    box-shadow: 0 0 20px #000;
    transition: border-color .3s ease, box-shadow .3s ease;
}
a.item-grid-item .item-grid-item-icon::before {
    background-color: var(--v-background-alt);
    padding: .4em .4em;
    border-radius: .3em;
    margin-top: .2em;
    margin-left: .2em;
    font-size: 18px;
    margin-bottom: .5em;
}

.item-grid-item-title {
    font-weight: bold;
}

.item-grid-item-description {
    padding-bottom: .5em;
    color: #aaa;
}
footer {
    text-align: center;
    margin-top: 2em;
    color: #ccc;
}

/* Top Section */
.top-section .main-text {
    margin-bottom: 1em;
}
.top-section .main-text .title {
    font-size: 55px;
    font-weight: bold;
    width: fit-content;
    background: var(--v-main-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-section .main-text .description {
    font-size: 35px;
    font-weight: bold;
}

.top-section .logo {
    width: 260px;
    position: absolute;
    right: 25em;
    top: 2em;
    border-radius: 100vmax;
    z-index: -1;
}

.top-section .logo .logo-image {
    max-width: 260px;
    position: absolute;
    background: var(--v-background-mute);
    border-radius: 100vmax;
}
.top-section .logo .logo-background {
    background: var(--v-main-text-gradient);
    width: 260px;
    position: absolute;
    aspect-ratio: 1;
    filter: blur(100px);
    border-radius: 100vmax;
}
.main-buttons {
    margin-bottom: 3em;
    margin-top: 2em;
}
.main-buttons a {
    padding: .7em 1.2em;
    margin-right: .5em;
    border-radius: 100vmax;
    transition: box-shadow .5s ease;
    text-decoration: none;
    color: white;
}
.main-buttons a:hover {
    box-shadow: 0 0 15px #000;
    transition: box-shadow .5s ease;
}
.main-buttons a.main {  background-color: var(--v-background-accent); }
.main-buttons a.extra {  background-color: var(--v-background-mute); }

h2 {
    color: #ccc;
}