@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(/assets/css/animation.css);
@import url(/assets/css/style.css);

footer.footer-info {
    display: none;
}

:root {
    --background: #22252B;
    --background-alt: #1B1D22;
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--background);
    font-family: Inter;
    color: var(--text-color);
    width: 100vw;
    height: 100vh;
    display: grid;
    font-size: 16px;
    grid-template: 
        "body-header" max-content
        "body-main" auto
        / auto;
}

header.changelog-header {
    margin-top: 5em;
    border-bottom: .05em solid var(--text-color);
    padding-bottom: .5em;
    display: grid;
    height: fit-content;
    grid-area: body-header;
    grid-template: 
        "header-h1 header-select-label header-select" auto
        "header-go-back header-select-label header-select" auto
        / auto max-content 10em;
}

@media only screen and (max-width: 50em) {
    header.changelog-header {
        margin-top: 5%;
        grid-template: 
            "header-h1 header-h1" 3em
            "header-select-label header-select" 3em 
            "header-go-back header-go-back" auto 
            / max-content auto;
    }
    header.changelog-header * {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 30em) {
    header.changelog-header {
        margin-top: 5%;
        grid-template: 
            "header-h1" 3em
            "header-select-label" 3em 
            "header-select" 3em
            "header-go-back" auto
            / auto;
    }
    header.changelog-header * {
        display: flex;
        justify-content: center;
    }

    header.changelog-header label {
        justify-content: center!important;
    }

    header.changelog-header select {
        display: flex;
        justify-content: center;
        width: unset!important;
    }
}

header.changelog-header h1 {
    grid-area: header-h1;
}

header.changelog-header label {
    grid-area: header-select-label;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 1em;
    font-weight: 600;
}

header.changelog-header select {
    grid-area: header-select;
    margin-block: 1.2em;
    background: var(--background);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: none;
    text-align: center;
    outline: none;
    border-radius: 100vmax;
}

header.changelog-header select:focus-visible {
    border-radius: 0;
    cursor: pointer;
}

header.changelog-header select optgroup {
    color: #979797;
    text-align: left;
    width: 100%;
}

header.changelog-header select option {
    text-align: center;
    width: 100%;
    color: var(--text-color);
}

header.changelog-header .go-back {
    grid-area: header-go-back;
    cursor: pointer;
    color: #aaa;
}

header.changelog-header .go-back:hover {
    color: #00a2ff;
}

main {
    grid-area: body-main;
    padding-top: 1em;
    width: 100%;
}

ul.changelog-new,
ul.changelog-update,
ul.changelog-fixes {
    list-style: none;
    position: relative;
    line-height: 1.3;
    color: var(--text-color);
    padding-top: 3em;
    padding-bottom: 1em;
    border-radius: 0;
}

ul.changelog-new::before,
ul.changelog-update::before,
ul.changelog-fixes::before {
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: var(--background-alt);
    position: absolute;
    inset: 0;
    top: 1em;
    left: 0;
    height: fit-content;
    padding: .5em;
    padding-right: 0;
}

ul.changelog-new::before {
    content: "new";
}

ul.changelog-update::before {
    content: "update";
}

ul.changelog-fixes::before {
    content: "fixes";
}

ul.changelog-new li,
ul.changelog-update li,
ul.changelog-fixes li {
    padding: .5em;
    margin-bottom: .3em;
}

ul.changelog-new li {
    background: #67d6679d;
}

ul.changelog-update li {
    background: #00a9c7b4!important;
}

ul.changelog-fixes li {
    background: #ff000d4b!important;
}

/* Headers ~ Anchors */
h1 a.anchorjs-link,
h2 a.anchorjs-link,
h3 a.anchorjs-link,
h5 a.anchorjs-link,
h6 a.anchorjs-link {
  opacity: 0;
  transition: opacity .2s;
  z-index: 0;
  color: var(--v-primary-natural-white);
}

h1:hover a.anchorjs-link,
h2:hover a.anchorjs-link,
h3:hover a.anchorjs-link,
h5:hover a.anchorjs-link,
h6:hover a.anchorjs-link {
  opacity: 1;
  transition: opacity 1s;
}

/* Extra HTML CSS */
code {
    background: #141414;
    padding-inline: .3em;
}