:root {
    --gap-height: .2em;
    --gap-width: .5em;

    --chip-background: #ff4d4d;
    --chip-border-radius: 0;

    --text-color: #181818;
}

@import url(/assets/fonts/font.css);
* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: Uni Sans CAPS;
    font-weight: 900;
    font-size: 1.5em;
}

ul {
    display: flex;
    gap: var(--gap-height) var(--gap-width);
    list-style: none;
    flex-wrap: wrap;
    transition: all 1s ease;
}

ul li {
    background-color: var(--chip-background);
    border-radius: var(--chip-border-radius);
}

ul li p.sourceName {
    color: var(--text-color);
    padding-left: 1.5em;
    padding-right: .25em;
}

ul li p.sourceName {
    background-image: url(./Mute-Indicator.png);
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: .25em 50%;
}