:root {
    --font-family: Uni Sans CAPS;
    --font-weight: 900;
    --font-style: normal;
    --font-size: 1.5em;
    --font-color: #181818;

    --gap-height: .2em;
    --gap-width: .5em;

    --chip-background: #ff4d4d;
    --chip-border-radius: 0;
}

@import url(/assets/fonts/font.css);
* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    font-size: var(--font-size);
}

ul {
    display: flex;
    gap: var(--gap-height) var(--gap-width);
    list-style: none;
    flex-wrap: wrap;
    transition: all 1s ease;
}

ul li {
    background-color: var(--chip-background);
    border-radius: var(--chip-border-radius);
    display: flex;
}

ul li p.sourceName {
    color: var(--font-color);
    padding-inline: .25em;
}

.mute-indicator-image {
    width: 1em;
    aspect-ratio: 1;
    padding-left: .25em;
}