@import url(/assets/fonts/font.css);
* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: Uni Sans CAPS;
    font-weight: 900;
    font-size: 1.5em;
}

ul {
    display: flex;
    gap: .2em .5em;
    list-style: none;
    flex-wrap: wrap;
    transition: all 1s ease;
}

ul li {
    background-color: #ff4d4d;
}

ul li p.sourceName {
    color: #181818;
    padding-left: 1.5em;
    padding-right: .25em;
}

ul li p.sourceName {
    background-image: url(./Mute-Indicator.png);
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: .25em 50%;
}