@import url(/assets/css/root.css);
$mq-md: 115rem;

.main-wrapper__col-3 {
  overflow: hidden;
  overflow-y: auto;
  grid-area: body__col-3;
  margin-right: auto;
  margin-top: 6rem;
  height: fit-content;
  max-height: 80vh;
  width: 17.5rem;

  @media (max-width: $mq-md) {
    display: none;
  }
  
  .table-of-contents__title {
    margin-bottom: .5rem;
    font-weight: bold;
  }
  
  ul.table-of-contents {
    list-style: none;

    .anchorjs-link {
      display: none;
    }

    li {
      border-left: 2px solid var(--text-400);
      color: var(--text-900);
      transition: border-color 500ms ease;
      
      &:hover,
      &.toc-active {
        border-color: var(--accent-secondary);
      }

      &:hover button,
      &.toc-active button {
        color: var(--accent-secondary-alt)!important;
      }
      
      button {
        background: transparent;
        border: 0;
        border-radius: .25rem;
        outline: 0;
        width: 100%;
        max-width: 100%;
        padding-block: .25em;
        padding-inline: .25rem;
        margin-left: .5rem;
        text-align: left;
        font-size: 1rem;
        color: inherit;
        transition: color 500ms ease;
        cursor: pointer;
  
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
      }

      &.heading-tag-h3 button {
        font-size: .85rem;
        padding-left: .75rem;
        color: var(--text-700);
      }
      
      &.heading-tag-h4 button,
      &.heading-tag-h5 button,
      &.heading-tag-h6 button {
        font-size: .75rem;
        padding-left: 1.5rem;
        color: var(--text-400);
      }
    }
  }
}
