@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body,
html {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

:root {
  /* Not recommended to change */
  --height: 300px;
  --width: 1000px;
  --border-radius: 30px;

  --height-small: 100px;
  --width-small: 1000px;
  --border-radius-small: 15px;

  /* Play around here :) */
  --transition-time: 1s;
  --transition-timing-function: ease;
  --background-hue: 345; /* 0, 30, 230, 275, 345 (these are recommendations, you can use 0-360)*/
  --color-primary: rgba(255, 255, 255, 1);
  --color-accent: rgba(255, 255, 255, 0.7);
}

.container {
  display: flex;
  height: var(--height);
  width: var(--width);
}

.container img {
  width: var(--height);
  height: var(--height);
  aspect-ratio: 1;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.container .bottom-container {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  padding-inline: 3em;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    0deg,
    hsl(var(--background-hue), 100%, 60%),
    hsl(var(--background-hue), 100%, 75%)
  );
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.container .bottom-container .texts {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  padding-inline: 1em;
  width: 100%;
  text-align: center;
}

.texts p {
  margin: 0;
  padding: 0;
}

.texts .title {
  font-size: 2.5em;
  font-weight: 600;
  color: var(--color-primary);
}

.texts .description {
  font-size: 2em;
  font-weight: 400;
  color: var(--color-accent);
  margin-bottom: 1em;
}

.progress-bar {
  margin-top: 1em;
  width: 550px;
  height: 8px;
  border-radius: 100vmax;
  background: #fff;
  position: relative;
}

.progress-bar .start-time {
  position: absolute;
  top: -0.5em;
  font-size: 1.5em;
  color: var(--color-accent);
}

.progress-bar .end-time {
  position: absolute;
  top: -0.5em;
  right: 0;
  font-size: 1.5em;
  color: var(--color-accent);
}

/* Small Sizing */
* {
  transition: all var(--transition-time) var(--transition-timing-function);
}

body.small .container {
  height: var(--height-small);
  width: var(--width-small);
}

body.small .container img {
  width: var(--height-small);
  height: var(--height-small);
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}

body.small .container .bottom-container {
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
  width: auto;
  padding-inline: 1em;
}

body.small .container .bottom-container .texts {
  text-align: left;
  margin: auto 0;
}

body.small .container .bottom-container .texts .title {
  font-size: 2em;
}

body.small .container .bottom-container .texts .description {
  font-size: 1.5em;
  margin: 0;
}

body.small .progress-bar {
  width: 0;
}
