@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --image-size: 8em;
  --image-size-minus: -8em;
  --border-radius-image: 100vmax;
  --border-radius-texts: 20px;
  --canvas-spacing: 1em; /* Spacing at the bottom and the left of the canvas*/

  --color-primary: rgba(255, 255, 255, 1);
  --color-accent: rgba(255, 255, 255, 0.7);
  --alt-background-color: #1b1b1e; /* Used for when album covers are transparent */
  --font-family: Roboto; /* Casing MATTERS! and it NEEDS to be on your local machine, unless you know what you're doing */
}

html,
body {
  font-size: 16px;
  font-family: var(--font-family);
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: var(--canvas-spacing);
  left: var(--canvas-spacing);
  overflow: hidden;
}

.container .bottom-container {
  z-index: -1;
  transition: all 0.5s ease 0.5s;
  background: hsl(0, 0%, 0%, 0.7);
  height: fit-content;
  width: fit-content;
  border-radius: 30px var(--border-radius-texts) var(--border-radius-texts) 30px;
  transform: translateX(calc(var(--image-size-minus) / 2));
}
.container .album-cover {
  height: var(--image-size);
  aspect-ratio: 1;
  background: var(--alt-background-color);
  border-radius: var(--border-radius-image);
  transition: all 0.5s ease 0s;
}

.container .texts {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-inline: calc(0.5em + var(--image-size) / 2) 1em;
  padding-block: 0.3em;
}

.container .texts .songName {
  font-weight: 600;
  color: var(--color-primary);
  font-size: 3em;
}

.container .texts .artistName {
  font-weight: 300;
  color: var(--color-accent);
  font-size: 2em;
}

body.small .container .bottom-container {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s ease 0s;
  border-radius: 50% var(--border-radius-texts) var(--border-radius-texts) 50%;
}

body.small .container .album-cover {
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.5s ease 0.5s;
}
