header.header-primary {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  column-gap: .5rem;
  padding-inline: .5rem;
  align-items: center;
  background: var(--background-soft);
  padding-block: .5rem;
}

header.header-primary img {
  width: 3rem;
  height: 3rem;
}

header.header-primary p {
  margin: 0;
  padding: 0;
}

header.header-primary p.name {
  color: #fff;
  font-weight: 600;
}

header.header-primary p.description {
  color: #bbb;
}