header.header-primary {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-inline: .5rem;
  display: grid;
  grid-template-columns: max-content auto;
  background: var(--background-soft);
  height: 4rem;
  z-index: 100;
  line-height: 1.5;
}

header.header-primary .main-info {
  display: flex;
  column-gap: .5rem;
  align-items: center;
}

header.header-primary img {
  width: 3rem;
  height: 3rem;
}

header.header-primary p {
  margin: 0;
  padding: 0;
}

header.header-primary p.name {
  color: #fff;
  font-weight: 600;
}

header.header-primary p.description {
  color: #bbb;
}

header.header-primary aside {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
}


header.header-primary aside .settings:hover,
header.header-primary aside .settings:focus-visible {
  background: var(--background-light);
}

header.header-primary aside .settings,
header.header-primary aside .settings:active {
    border: 0;
    outline: 0;
    color: #fff;
    background: var(--background-mute);
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
}