.navbar-wrapper {
  position: sticky;
  height: 100%;
  width: 17.5rem;
  margin-left: auto;
}

.navbar-wrapper ul.navbar {
  list-style: none;
  background: var(--background-soft);
  border-radius: .5rem;
  height: fit-content;
}

.navbar-wrapper ul.navbar .navbar-group ul {
  list-style: none;
}

.navbar-wrapper ul.navbar .navbar-group ul li a {
  color: #ffffff;
  display: block;
  padding-block: .5rem;
  padding-inline: .25rem;
  font-size: .9rem;
}

.navbar-wrapper ul.navbar .navbar-group ul li {
  border-radius: .25rem;
  cursor: pointer;
  position: relative;
}

.navbar-wrapper ul.navbar .navbar-group ul li a::before {
  padding-right: .25rem;
}

.navbar-wrapper ul.navbar ul li:hover {
  background: var(--accent-alt);
}


/* NAVBAR GROUP */

.navbar-wrapper ul.navbar .navbar-group {
  padding-inline: .5rem;
  border-radius: .5rem;
}

.navbar-wrapper ul.navbar .navbar-group .group-title {
  border: 0;
  outline: 0;
  border-radius: .25rem;
  background: none;
  color: var(--accent-primary);
  padding-inline: .5rem;
  padding-block: .5rem;
  margin-block: .5rem;
  font-weight: bold;
  width: 100%;
  text-align: left;
  position: relative;
  cursor: pointer;
}

.navbar-wrapper ul.navbar .navbar-group .group-title::after {
  content: "\F0140";
  font-family: Material Design Icons;
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-right: .25rem;
  /* transition: 1s rotate ease; */
}

.navbar-wrapper ul.navbar .navbar-group[data-navbar-group-state=closed] .group-title::after {
  rotate: 90deg;
}

.navbar-wrapper ul.navbar .navbar-group[data-navbar-group-state=closed] ul {
  display: none;
}

.navbar-wrapper ul.navbar .navbar-group .group-title:hover {
  background: var(--accent-alt);
}

.navbar-wrapper ul.navbar .navbar-group:not([data-navbar-group-state=closed]):has(.group-title:hover) {
  background: var(--background-mute);
}

@media (max-width: 70rem) {
  .navbar-wrapper {
    width: 100%;
    padding-inline: 1rem;
    padding-bottom: 2rem;
  }

  .navbar-wrapper ul.navbar {
    max-height: 16.5rem;
    overflow-y: auto;
  }
}
