/* Nav Scroll Bar */

nav.navbar::-webkit-scrollbar {
  width: 5px;
}

nav.navbar::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: none;
}

nav.navbar::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

nav.navbar::-webkit-scrollbar-track {
  background: transparent;
}

nav.navbar:hover::-webkit-scrollbar-track {
  background: #333;
}

/* Nav General */
nav.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 16em;
  background: var(--v-background-alt);
  position: fixed;
  height: calc(100% - 3.5em);
  overflow-y: auto;
  line-height: 1.5;
}

nav.navbar li {
  background: var(--v-background-alt);
  margin-top: 0em;
  padding-inline: 0.5em;
  padding-block: .6em;
  transition: all 0.3s;
  height: 1.5em;
  box-sizing: content-box;

  text-size-adjust: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

nav.navbar > a > li.mdi::before {
  margin-right: 0.4em;
}

nav.navbar a {
  text-decoration: none;
  color: var(--v-primary-natural);
  transition: all 0.3s;
}

.navbar:has(li:hover) li:not(:hover) {
  opacity: 0.5;
  transition: all 350ms ease;
}

nav.navbar li:hover {
  background: var(--v-background-soft);
  transition: all 0.3s;
}

.navbar > a {
  transition: all 350ms ease !important;
}

nav.navbar hr {
  margin: 0;
  border: none;
  border-bottom: 1px solid #555;
}

@media (max-width: 50em) {
  nav.navbar {
    position: unset;
    top: auto;
    left: auto;
    width: 100%;
    margin-bottom: 0.5em;
    height: fit-content;
    max-height: 20em;
  }

  nav.navbar li {
    border: none;
  }
}

/* Nav Active */

nav.navbar a.nav-active {
  color: var(--v-primary-accent);
}

/* Nav Label */

nav.navbar p.nav-label {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 600;
  font-size: .9em;
  padding-inline: .5em;
  padding-top: .75em;
  margin-bottom: .6em;
  color: var(--v-primary-natural-light);
}
