@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(/assets/css/root.css);
@import url(/assets/css/new-root.css);
@import url(/assets/css/header.css);
@import url(/assets/css/navbar.css);
@import url(/assets/css/toc.css);
@import url(/assets/css/animation.css);

/* ============ */
/* HTML Styling */
/* ============ */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 4em;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--v-background-light);
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--v-background-lighten);
}

::-webkit-scrollbar-track {
  background: var(--v-background-soft);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--v-font-family);
  font-size: 1em;
  font-weight: 400;
  color: var(--v-primary-natural);
  background-color: var(--v-background);
  height: 100vh;
  max-height: 100vh;
  line-height: 1.5;
  display: grid;
  grid-template-areas: "body--navbar body--main body--toc";
  grid-template-columns: auto 1200px auto;
}

main {
  grid-area: body--main;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-bottom: 2rem;
  margin-top: 6rem;
  overflow-y: auto;
}

@media (max-width: 115rem) {
  body {
    grid-template-areas: 
      "body--navbar body--main"
      "body--toc  body--main";
    grid-template-columns: auto 1200px;
  }
}

@media (max-width: 70rem) {
  body {
    grid-template-areas: 
      "body--navbar"
      "body--toc"
      "body--main";
    grid-template-columns: 1fr;
  }

  main {
    margin-top: 0;
  }
}


/* ==== */
/* Else */
/* ==== */


header.page-info {
  border-bottom: 1px solid #555;
  margin-bottom: 1em;
}

header.page-info > p.title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: var(--v-primary-accent);
}

header.page-info > p.description {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #777;
}

/* Animations */
@keyframes button-grid-load {
  0% {
    transform: translateY(40%);
    opacity: 0%;
    filter: blur(5px);
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
    filter: blur(0px);
  }
}
@keyframes footer-load {
  0% {
    scale: 0;
  }
  100% {
    scale: normal;
  }
}
/* HTML Element Overides */
blockquote.is-warning {
  background-color: var(--v-blockquote-is-warning-base) !important;
  color: var(--v-blockquote-is-warning-color) !important;
  border-color: var(--v-blockquote-is-warning-color) !important;
  border: 1px solid !important;
}

blockquote.is-warning * {
  color: var(--v-blockquote-is-warning-color) !important;
}

blockquote.is-info {
  background-color: var(--v-blockquote-is-info-base) !important;
  color: var(--v-blockquote-is-info-color) !important;
  border-color: var(--v-blockquote-is-info-color) !important;
  border: 1px solid !important;
}

blockquote.is-info * {
  color: var(--v-blockquote-is-info-color) !important;
}

blockquote.is-success {
  background-color: var(--v-blockquote-is-success-base) !important;
  color: var(--v-blockquote-is-success-color) !important;
  border-color: var(--v-blockquote-is-success-color) !important;
  border: 1px solid !important;
}

blockquote.is-success * {
  color: var(--v-blockquote-is-success-color) !important;
}

blockquote.is-danger {
  background-color: var(--v-blockquote-is-danger-base) !important;
  color: var(--v-blockquote-is-danger-color) !important;
  border-color: var(--v-blockquote-is-danger-color) !important;
  border: 1px solid !important;
}

blockquote.is-danger * {
  color: var(--v-blockquote-is-danger-color) !important;
}

blockquote.is-warning.variant .blockquote-title {
  background-color: var(--v-blockquote-is-warning-color);
}
blockquote.is-info.variant .blockquote-title {
  background-color: var(--v-blockquote-is-info-color);
}
blockquote.is-success.variant .blockquote-title {
  background-color: var(--v-blockquote-is-success-color);
}
blockquote.is-danger.variant .blockquote-title {
  background-color: var(--v-blockquote-is-danger-color);
}
blockquote.variant .blockquote-title {
  background-color: var(--v-blockquote-color);
}

/* < --- > */

blockquote {
  background-color: var(--v-blockquote-base) !important;
  border-radius: var(--v-blockquote-border-radius) !important;
  color: var(--v-blockquote-color) !important;
  border: 1px solid var(--v-blockquote-color) !important;
  box-shadow: 0 0 2px 0 var(--v-blockquote-box-shadow) !important;
  font-size: 20px;
  padding: 0.5rem !important;
  margin: 1rem 0rem;
  position: relative;
}

blockquote * {
  color: var(--v-blockquote-color) !important;
}

blockquote .blockquote-title {
  font-weight: bold;
}

blockquote.variant {
  margin-top: 2em;
}

blockquote.variant .blockquote-title {
  font-weight: bold;
  position: absolute;
  top: -1.2em;
  background-color: currentColor;
  color: var(--v-primary-natural-white) !important;
  padding-inline: 1em;
  border-bottom: none;
  border-radius: var(--v-blockquote-border-radius)
    var(--v-blockquote-border-radius) 0 0;
  background-color: var(--v-blockquote-base);
}

/* Headers */
h1 {
  font-size: 28px;
  margin-block: 0.6em 0.3em;
}

h2 {
  font-size: 24px;
  margin-block: 0.6em 0.3em;
  background: #3d46a9;
  padding: 0.2em 0.3em;
}

h3,
h4,
h5,
h6 {
  font-size: 20px;
  margin-block: 0.6em 0.3em;
  background: #313131;
  padding: 0.2em 0.3em;
}

h4,
h5,
h6 {
  font-size: 16px;
  background: #151515;
}

/* Headers ~ Anchors */
h1 a.anchorjs-link,
h2 a.anchorjs-link,
h3 a.anchorjs-link,
h5 a.anchorjs-link,
h6 a.anchorjs-link {
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 0;
  color: var(--v-primary-natural-white);
}

h1:hover a.anchorjs-link,
h2:hover a.anchorjs-link,
h3:hover a.anchorjs-link,
h5:hover a.anchorjs-link,
h6:hover a.anchorjs-link {
  opacity: 1;
  transition: opacity 1s;
}

p {
  color: var(--v-primary-natural);
  padding: .5em 0 0;
  margin: 0;
}

.subtitle {
  padding: 0;
  font-size: 0.7rem;
  font-weight: 100;
  transform: translateY(-5px);
}

h2:has(~ .subtitle),
h3:has(~ .subtitle),
h4:has(~ .subtitle) {
  margin-bottom: 0;
}

.subtitle a {
  background: var(--v-background-mute);
  padding-inline: .5em;
}

/* Other */
code,
var,
samp {
  font-size: 0.9em;
  background: var(--v-primary-natural-dark-darken);
  color: var(--v-color-code);
  border: 1px solid var(--v-primary-natural-dark-lighten);
  padding: 0 5px;
  font: var(--v-font-family);
  font-weight: 400;
  box-shadow: none;
  font-style: normal;
}

kbd {
  font-size: 0.9em;
  background: rgba(0, 0, 0, 0.4);
  color: var(--v-primary-natural);
  padding: 2px 6px;
  font-family: montserrat;
  font-weight: 600;
  box-shadow: none;
  font-style: normal;
  border-radius: 2px;
}

pre {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding-left: 1em;
  padding-block: .5em;
  overflow-x: auto;
  margin-block: .5em;
}

hr {
  border: none;
  border-bottom: 1px solid #555;
  margin-bottom: 1em;
  margin-top: 1em;
}

a {
  color: var(--v-color-link);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--v-color-link-hover);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

/* Table */
table {
  border-spacing: 0;
}

thead tr td {
  background: var(--v-background-soft);
  padding-block: 0.3em !important;
  padding-inline: 0.6em !important;
  text-align: center;
  font-weight: bold;
}

tbody tr td {
  background: var(--v-background-mute);
  padding-block: 0.5em !important;
  padding-inline: 0.6em !important;
}

tbody tr:nth-child(even) td {
  background: var(--v-background-soft);
}

table td {
  border: 1px solid var(--v-background-darken);
  color: var(--v-primary-natural-white);
}

table .table-right {
  text-align: right;
}
table .table-center {
  text-align: center;
}
table .table-left {
  text-align: left;
}

table button {
  background: var(--v-background-soft);
  color: var(--v-primary-natural);
  outline: none;
  border: none;
  text-align: center;
}

table button:active,
table button:focus-visible {
  background: var(--v-background-mute);
}

table .table-settings {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
}

table .table-settings button {
  padding: .3em;
}

table[data-settings-menu=closed] .table-settings {
  display: none;
}

table[data-settings-menu=opened] .table-settings {
  display: flex;
}

/* Footer */
footer.footer-info {
  display: grid;
  grid-template: 
  "footer-grid-hr footer-grid-hr" auto
  "footer-grid-edit footer-grid-update" auto
    / auto max-content;
}

footer.footer-info .footer-edit {
  grid-area: footer-grid-edit;
}

footer.footer-info .footer-update {
  grid-area: footer-grid-update;
}

footer.footer-info hr {
  grid-area: footer-grid-hr;
}


@media (max-width: 50em) {
  footer.footer-info {
    grid-template-columns: 1fr;
  }

  footer.footer-info .footer-update {
    text-align: center;
  }

  footer.footer-info .footer-edit {
    text-align: center;
  }
}
/* List / Grids */
ul.button-grid {
  padding: 0;
  display: grid;
  gap: 2em 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  margin-block: .9em 1.5em;
  position: relative;
}
ul.list {
  grid-template-columns: 1fr;
}
ul.button-grid a,
ul.button-grid li {
  text-decoration: none;
  color: var(--v-primary-natural);
}

ul.button-grid li {
  list-style: none;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 22px;
  background: var(--v-background-soft);
  border-radius: var(--v-blockquote-border-radius);
  transition: all 500ms;
  display: flex;
  animation: button-grid-load 750ms ease-in-out;
  height: 100%;
  min-height: 2.2em;
  width: 100%;
}

ul.button-grid li:hover {
  box-shadow: #000 0px 0px 20px;
  transition: all 0.3s;
  background: var(--v-background-light);
  scale: 1.03;
}
ul.button-grid li img {
  margin: auto 1rem auto 0em;
  height: 35px;
  width: 35px;
}
ul.button-grid li i {
  display: block;
  font-size: 35px;
  width: 35px;
  margin: auto 1rem auto 0em;
}
ul.button-grid li > strong {
  display: flex;
  font-weight: 600 !important;
  flex-direction: column;
  margin: auto 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
ul.button-grid li > strong > em {
  font-style: normal;
  font-weight: 400;
  color: #888;
  font-size: 0.6em;
  overflow: hidden;
  text-overflow: ellipsis;
}
ul.grid-list {
  list-style: none;
  border: 1px solid #434343;
  margin: 0.8em 0em;
}
ul.grid-list li {
  background: var(--v-background);
  padding: 0.6rem 1rem;
}
ul.grid-list li:nth-child(odd) {
  background: var(---v-background-alt);
  padding: 0.6rem 1rem;
}
/* Utility Classes */
.text--youtube {
  color: #ff0000 !important;
}
.text--twitch {
  color: #6441a5 !important;
}
.text--discord {
  color: #5865f2 !important;
}

/* ==================== */
/* Documentaion Helpers */
/* ==================== */
.url-parameter-novalue::before {
  color: var(--v-color-code);
  background: var(--v-primary-natural-dark-darken);
  border: 1px solid var(--v-primary-natural-dark-lighten);
  padding-inline: 0.3em;
  border-radius: 100vmax;
}

.url-parameter-novalue::before {
  content: "Doesn't allow any values";
}

[class*=img-] {
  width: 100%;
  margin-bottom: 1em;
}

[class*=img-].margin-top {
  margin-top: 1em;
}

.img-400 {
  max-width: 30em;
}

.img-300 {
  max-width: 22.5em;
}
