@import url(/assets/fonts/font.css);
@import url(/assets/css/root.css);
@import url(/assets/css/new-root.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body,
html {
  font-size: 1em;
  font-family: Inter;
  color: var(--text-900);
  background: var(--background-primary);
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
  color-scheme: dark;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

body.disconnected>*:not(header),
body.disconnected .header-links {
  display: none;
}

body.not_found main:not(.nested)::after {
  content: "404";
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: 10rem;
  font-weight: 900;
  backdrop-filter: blur(3px);
}

body.not_found nav.navbar {
  filter: blur(3px);
}

hr {
  border: none;
  border-bottom: 2px solid var(--text-background-400);
  margin-block: .5rem;
}

::-webkit-scrollbar {
  background: var(--background-soft);
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background: var(--background-light);
}

::selection {
  background: var(--color-link);
}

[hidden] {
  display: none !important;
}

:disabled {
  pointer-events: none;
}

ul {
  list-style: none;
}

/* ------ */
/* Header */
/* ------ */

header {
  display: flex;
  justify-content: space-between;
  padding-inline: .5em;
  position: fixed;
  background: var(--background-soft);
  width: 100%;
  height: 6rem;
  z-index: 100;
}

header > a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

header .main {
  display: flex;
  align-items: center;
  column-gap: .4em;
  height: 2.5em;
  margin-bottom: auto;
  padding-top: 1rem;
}

header .main img {
  width: 2.5em;
}

header .main .name {
  font-weight: bold;
  color: var(--text-900);
}

header .main .description {
  color: var(--text-600);
}

header aside {
  display: flex;
  column-gap: .5em;
  align-self: center;
}

header aside p.instance-info {
  font-size: 1.25rem;
  text-align: right;
}

header aside p.instance-info small {
  display: block;
  font-size: .9rem;
  color: var(--text-600);
}

header aside .form-area {
  position: relative;
}

header aside .form-area label {
  position: absolute;
  font-size: .5em;
  padding-inline: .25rem;
}

header aside .form-area input {
  background: var(--background-alt);
  color: var(--text-900);
  border: 0;
  outline: 0;
  border-radius: 0;
  padding-top: 1em;
  padding-inline: .25rem;
}

header aside button {
  background: var(--background-alt);
  color: var(--text-900);
  border: 0;
  outline: 0;
  border-radius: 0;
  padding-block: .25em;
  padding-inline: .25rem;
}

.header-links {
  position: absolute;
  bottom: .75rem;
  left: .5rem;
}

.buttons-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .25rem;
}

.buttons-row a,
.buttons-row button,
.buttons-row.list-items li {
  border: none;
  outline: none;
  text-decoration: none;
  color: var(--text-900);
  background: var(--background-light);
  padding-inline: 1rem;
  padding-block: .25rem;
  border-radius: .5rem;
  width: fit-content;
  height: fit-content;
  transition: all .25s ease;
  display: flex;
  align-items: center;
  gap: .25rem;
}

.buttons-row li:not(.button-active):hover a,
.buttons-row li:not(.button-active):hover button {
  background: var(--background-lighten);
}

.buttons-row li.button-active a,
.buttons-row li.button-active button,
.buttons-row li button.active-state:active {
  background: var(--color-link-hover);
}

.buttons-row li:not(.button-active) a,
.buttons-row li:not(.button-active) button {
  cursor: pointer;
}

.tags {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  z-index: 100;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: .5rem;
  height: 3rem;
}

.tags li a,
.tags li button {
  text-decoration: none;
  color: var(--text-900);
  background: var(--background-light);
  padding-inline: .5rem;
  padding-block: .25rem;
  min-width: max-content;
  border-radius: 100vmax;
  text-align: center;
  text-decoration: none;
  border-radius: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.tags li:hover a,
.tags li:hover button,
.tags li:focus-visible a,
.tags li:focus-visible button {
  background: var(--background-lighten);
}

.tags li.tag-active a,
.tags li.tag-active button {
  background: var(--color-link-hover);
  cursor: default;
}

/* ----- */
/* table */
/* ----- */

table.styled.full {
  min-width: 100%;
}

table.styled.full td {
  min-width: 6rem;
  max-width: 7.5rem;
}

table.styled {
  border-spacing: 0;
  border-radius: .5rem;
  border: 2px solid var(--background-alt);
  background: var(--background-soft);
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
}

table.styled td,
table.styled th {
  padding-inline: .25rem;
  padding-block: .4rem
}

table.styled tbody tr:nth-child(even),
table.styled thead tr {
  background: var(--background-primary);
}

table.styled tr td:not(:last-child),
table.styled tr th:not(:last-child) {
  border-right: 2px solid var(--background-alt);
}

table.styled th {
  font-weight: 900;
}

/* --- */
/* nav */
/* --- */

.navbar {
  --mobile-transition-time: .5s;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: left var(--mobile-transition-time) ease;
  z-index: 1;
}

.navbar > input[type=search] {
  position: absolute;
  top: -2.5rem;
  width: 100%;
  height: 2.5rem;
  outline: 0;
  border: 0;
  background: var(--background-alt);
  color: var(--text-900);
  padding-inline: .75em;
}

.navbar .navbar-list,
ul.styled {
  width: 20em;
  background: var(--background-alt);
  display: flex;
  flex-direction: column;
  row-gap: .25em;
  overflow-y: auto;
  padding-block: .5em;
  padding-inline: .5em;
}

.navbar .navbar-list,
ul.styled {
  height: calc(100vh - 8.5em);
}

ul.styled {
  width: unset;
  height: unset;
  border-radius: .5rem;
}

.navbar .navbar-list .navbar-list-item,
ul.styled li {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

ul.styled li.title button {
  padding-block: 1rem;
  font-weight: 800;
  background: var(--background-soft);
}


.navbar .navbar-list .navbar-list-item p.title,
ul.styled li p.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navbar .navbar-list .navbar-list-item p.description,
ul.styled li p.description {
  font-size: .7rem;
  color: var(--text-300);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navbar .navbar-list .navbar-list-item button,
ul.styled li button {
  background: var(--background-alt);
  border: 0;
  border-radius: 5px;
  outline: 0;
  color: var(--text-900);
  width: 100%;
  text-align: left;
  padding-inline: .5em;
  padding-block: 1em;
  cursor: pointer;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ul.styled li button.append {
  position: absolute;
  right: 0;
  bottom: 50%;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  height: fit-content;
  padding-inline: .9rem;
  background: none;
  border-radius: 100vmax;
}

.navbar .navbar-list .navbar-list-item button:not(:disabled):active,
.navbar .navbar-list .navbar-list-item button:not(:disabled):focus-visible,
.navbar .navbar-list .navbar-list-item button:not(:disabled):hover {
  background: var(--background-soft);
}

ul.styled li button:not(:disabled):active,
ul.styled li button:not(:disabled):focus-visible,
ul.styled li button:not(:disabled):hover {
  background: var(--background-mute);
}

ul.styled li button:disabled {
  pointer-events: none;
  cursor: unset;
}

ul.styled li button {
  background: var(--background-primary);
}

.navbar .navbar-list .navbar-list-item.nav-active button {
  color: #a4ceff!important;
  background: #285292!important;
}

/* ---- */
/* main */
/* ---- */

main:not(.nested) {
  width: 100%;
}

main:not(.nested) .main {
  padding-inline: 1rem;
  padding-right: 1rem;
  padding-left: 21rem;
  overflow-y: auto;
  margin-top: 7rem;
  position: relative;
  max-width: 120rem;
  margin-right: auto;
  margin-inline: auto;
}

main:not(.nested) .main-list.col-2 {
  display: grid;
  grid-template-columns: max-content auto;
}

main:not(.nested) .main-list.col-2 li:nth-child(1n) {
  text-align: right;
}

main:not(.nested) .main-list.col-2 li:nth-child(2n) {
  text-align: left;
}

main:not(.nested) li div.profile-image {
  position: relative;
}

main:not(.nested) li div.profile-image.mdi.mdi-twitch::before,
main:not(.nested) li div.profile-image.mdi.mdi-youtube::before {
  border-radius: 8px;
  position: absolute;
  bottom: -0.25rem;
  right: -0.25rem;
  font-size: .6rem;
}

main .main.full {
  padding-left: 1rem;
}

main .main.col-2 {
  display: grid;
  grid-template-columns: auto min-content;
  gap: .5rem;
}

main .main > .card-grid {
  max-height: 85vh;
  overflow-y: auto;
  border-radius: .5rem;
}

main .main.col-2 > .card-grid .card {
  height: fit-content;
}

main .main.col-2 aside {
  width: 20rem;
  max-height: 85vh;
  overflow-y: auto;
  border-radius: .5rem;
}

main .main.col-2 aside .card-grid,
main .main.col-2 aside .card {
  width: 100%;
  grid-template-columns: 1fr;
}

.open-settings-modal {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.footer-icon {
  width: 2.5em;
  height: 2.5em;
  font-size: 1.05rem;
  background: var(--color-link);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100vmax;
  cursor: pointer;
  z-index: 100;
  border: none;
  outline: none;
}

/* ----------- */
/* Blockquotes */
/* ----------- */

blockquote {
  --icon: "\F027E";
  background: #4a6e80;
  color: #b4e6ff;
  padding-block: 1rem;
  padding-inline: .5rem;
  display: flex;
  margin-block: 1rem;
  border-left: 5px solid currentColor;
  border-radius: .25rem;
}

blockquote::before {
  content: var(--icon);
  font-family: Material Design Icons;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  padding-right: .35rem;
  color: inherit;
}

blockquote.success {
  --icon: "\F02FC";
  background: #232f23;
  color: #4caf50;
}

blockquote.info {
  --icon: "\F02FC";
  background: #12212c;
  color: #2196f3;
}

blockquote.warning {
  --icon: "\F0026";
  background: #2d1f0f;
  color: #fb8c00;
}

blockquote.error {
  --icon: "\F1398";
  background: #2d1818;
  color: #ff5252;
}

/* --------------- */
/* Disabled Styles */
/* --------------- */

body:not([data-streamerbot-action-package="installed"]) .send-message *,
body:not([data-streamerbot-action-package="installed"]) .streamerbot-action-package * {
  filter: blur(5px)!important;
  pointer-events: none!important;
}

/* ----------- */
/* Chat Styles */
/* ----------- */

.send-message {
  position: absolute;
  bottom: -2.25rem;
  left: 0;
  right: 0;
}

.send-message .form-group {
  display: flex;
}

/* --------------------- */
/* Action History Styles */
/* --------------------- */

main .main aside .card.action-history ul.styled[data-exclusion="true"] li[data-exclusion="true"] {
  display: none;
}

/* ----------- */
/* Form Groups */
/* ----------- */

.form-group.styled input:not([type=checkbox]),
.form-group.styled button,
.form-group.styled select {
  padding-block: 1rem;
  padding-inline: .5rem;
  background: var(--background-soft);
  color: var(--text-900);
  outline: none;
  border: none;
  display: block;
  border-radius: 8px;
  border: 2px solid var(--background-alt);
  margin-block: .5rem;
}

.form-group.styled input:not([type=checkbox]):disabled,
.form-group.styled button:disabled,
.form-group.styled select:disabled {
  filter: brightness(.5);
}

.form-group.styled button:hover,
.form-group.styled button:focus-visible {
  background: var(--background-mute);
  border-color: var(--background-light);
}

.form-group.styled input:focus-visible:not([type=checkbox]),
.form-group.styled button:active,
.form-group.styled select:focus-visible {
  background: var(--background-light);
  border-color: var(--background-lighten);
}

.form-group.styled input:not([type=checkbox]),
.form-group.styled select {
  width: 100%;
}

.form-group.styled button {
  padding-block: .5rem;
  cursor: pointer;
}

/* Style Classes */

.form-group.styled input:not([type=checkbox]).fit-content,
.form-group.styled select.fit-content,
.form-group.styled button.fit-content {
  width: fit-content;
}

.form-group.styled input:not([type=checkbox]).full,
.form-group.styled select.full,
.form-group.styled button.full {
  width: 100%;
}

.form-group.styled button.outlined {
  background: none;
  border-radius: .35rem;
  color: var(--text-900);
  font-weight: 900;
  border: 2px solid currentColor;
  padding-block: .2rem;
}

.form-group.styled button.outlined.dense {
  padding-block: 0;
}

.form-group.styled button.outlined:active {
  color: var(--text-500);
}

.form-group.styled button.overline {
  background: none;
  border-radius: .35rem;
  color: var(--text-900);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding-block: 0;
  padding-inline: .2rem;
  border: none;
  margin-inline: .25rem;
}

.form-group.styled button.overline:hover,
.form-group.styled button.overline:focus-visible {
  background: var(--background-lighten);
}

.form-group.styled button.overline:active {
  color: var(--text-500);
}

.form-group.styled button.primary {
  color: #a4ceff!important;
  background: #285292!important;
}

.form-group.styled button.primary[data-button-state="online"]:not(.online-primary) {
  color: #ccffda!important;
  background: #247b1d!important;
}

.form-group.styled button.primary[data-button-state="offline"] {
  color: #ffa4a4!important;
  background: #922828!important;
}

.form-group.styled button.dense {
  padding-block: .25rem;
  padding-inline: .5rem;
}

/* Helper Classes */

.form-group.styled input:not([type=checkbox]).no-margin,
.form-group.styled button.no-margin,
.form-group.styled select.no-margin {
  margin-block: 0;
}

.form-group.styled input:not([type=checkbox]).no-border-radius,
.form-group.styled button.no-border-radius,
.form-group.styled select.no-border-radius {
  border-radius: 0;
}

.form-group.styled {
  margin-block: .5rem
}

.form-group.styled.no-margin,
.form-group.styled.no-margin button {
  margin-block: 0;
}

/* -------- */
/* Dropdown */
/* -------- */

.dropdown-section {
  position: relative;
}

.dropdown-section .dropdown-list {
  display: none;
  position: absolute;
  right: 0;
  bottom: -100%;
  z-index: 10;
  box-shadow: 0 0 10px var(--text-background-900);
}

.dropdown-section:focus-within .dropdown-list {
  display: block;
}

/* ----- */
/* Cards */
/* ----- */

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: .5rem;
}

.card {
  background: var(--background-soft);
  padding-inline: .5rem;
  padding-block: 1rem;
  width: 100%;
  border-radius: .5rem;
  position: relative;
}

.card .card-header {
  display: flex;
  align-items: center;
}

.card .card-header .card-title {
  font-weight: bold;
  font-size: 1.05rem;
}

.card .card-header .card-header-append {
  margin-left: auto;
}

/* --------------- */
/* Utility Classes */
/* --------------- */

.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.grid {
  display: grid;
}

.grid.auto-col {
  --col-width: 600px;
  --gap-size: .5rem;
  gap: var(--gap-size);
  grid-template-columns: repeat(auto-fit, minmax(var(--col-width), 1fr));
}

i.mdi {
  font-style: normal;
}

.no-style {
  border: none;
  border-radius: none;
  outline: none;
  color: var(--text-900);
  background: none;
  padding: 0;
  margin: 0;
}

select.no-style {
  --background: var(--background-soft);
  background: var(--background);
}

body:not([data-streamerbot-action-package="absent"]) .streamerbot-action-package--absent,
body:not([data-streamerbot-action-package="outdated"]) .streamerbot-action-package--outdated,
body:not([data-streamerbot-action-package="renamed"]) .streamerbot-action-package--renamed,
body:not([data-streamerbot-action-package="unauthorized"]) .streamerbot-action-package--unauthorized,
body:not([data-streamerbot-action-package="disabled"]) .streamerbot-action-package--disabled {
  display: none;
}

body[data-streamerbot-action-package="absent"] .streamerbot-action-package--absent {display: x;}
body[data-streamerbot-action-package="outdated"] .streamerbot-action-package--outdated {display: x;}
body[data-streamerbot-action-package="renamed"] .streamerbot-action-package--renamed {display: x;}
body[data-streamerbot-action-package="unauthorized"] .streamerbot-action-package--unauthorized {display: x;}
body[data-streamerbot-action-package="disabled"] .streamerbot-action-package--disabled {display: x;}

/* ------------- */
/* Media Queries */
/* ------------- */

@media (max-width: 100rem) {
  header aside {
    align-self: flex-start;
  }

  .header-links {
    bottom: 0;
  }
}

.navbar-toggler {
  display: none;
}

@media (max-width: 80rem) {
  header {
    height: 8rem;
  }
  
  main:not(.nested) {
    margin-top: 2rem;
  }

  nav.navbar .navbar-list {
    height: calc(100vh - 10.5rem);
  }
}

@media (max-width: 75rem) {  
  main:not(.nested) .main {
    padding-left: 1rem;
    margin-top: 7rem;
  }

  nav.navbar {
    left: -20rem;
    z-index: 1000;
  }

  body:has(nav.navbar) > *:not(nav.navbar):not(.navbar-toggler) {
    transition: opacity .5s ease;
  }

  body:has(nav.navbar[data-visible]) > *:not(nav.navbar):not(.navbar-toggler) {
    pointer-events: none;
    opacity: .47;
  }

  nav.navbar .navbar-list {
    left: -20rem;
    z-index: 1000;
    height: calc(100vh - 2.5rem);
  }

  nav.navbar[data-visible] {
    left: 0;
  }

  .navbar-toggler {
    display: block;

    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 1001;
  }

  body:not(:has(nav.navbar)) .navbar-toggler {
    display: none;
  }

  main .main.col-2,
  main .main.grid.auto-col {
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
  }

  main .main.col-2 > .card-grid,
  main .main.grid.auto-col > .card-grid,
  main .main.col-2 > .main-contents,
  main .main.grid.auto-col > .main-contents {
    grid-row: 2;
    width: 100%;
  }
  
  main .main.col-2 aside,
  main .main.grid.auto-col aside {
    width: 100%;
    grid-row: 1;
  }
}