video {
    max-width: 100%;
}

.video__wrapper {
    position: relative;
}

.video__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.video__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2.5em;

    display: flex;
}

.video__play {
    height: 2em;
    width: 2em;

    position: absolute;
    bottom: 0;
}

.video__progress-bar {
    --size: 1em;
    -webkit-appearance: none;
    appearance: none;
    outline: none;

    position: absolute;
    top: 0;
    border-radius: 0;
    width: 100%;
    height: var(--size);

    background: hsl(0 0% 0% / .6);
}

.video__progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--size);
    height: var(--size);
    background: coral;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: var(--size);
    height: var(--size);
    background: coral;
    cursor: pointer;
  }