@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
  * {
   padding: 0;
   margin: 0;
  }
  :root {
    --v-primary-base: #22252b;
    --v-secondary-base: #1b1d22;
    --v-accent-base: #a158ed;
    --v-secondary-accent-base: #00dbff;
    --v-accent-lighten1: #666;
    --v-accent-lighten2: #444;

    --v-blockquote-is-warning-base: #2d2d2a;
    --v-blockquote-is-warning-color: #fcd253;
    
    --v-blockquote-is-info-base: #1f2931;
    --v-blockquote-is-info-color: #53aafc;
    
    --v-blockquote-is-success-base: #232c30;
    --v-blockquote-is-success-color: #42d392;
    
    --v-blockquote-is-danger-base: #2c262d;
    --v-blockquote-is-danger-color: #f54e82;

    --v-blockquote-base: #2c2e34;
    --v-blockquote-color: #c0c0c0;

    --v-blockquote-box-shadow: #212121;
    --v-blockquote-code-base: #141414;
    --v-blockquote-code-font-weight: 500;
    --v-blockquote-code-border: #444;
    --v-blockquote-ff: Arial;
    --v-blockquote-border-radius: 10px;
  }
  body {
    padding-top: 1em;
    padding-left: 16em;
    padding-right: .5em;
    font-family: Poppins;
    font-size: 20px;
    color: white;
    background-color: #22252b;
  }
  header {
    border-bottom: 1px solid #555;
    margin-bottom: 1em;
  }
  header > p.title {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
  header > p.description {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #777;
  }
  footer {
    animation: footer-load .75s ease-in-out;
  }
  div.upper {
    align-items: center;
    justify-content: center!important;
    display: flex;
    flex: 0 1 auto!important;
    flex-wrap: wrap;
    padding: 0.4em 1em;
    position: relative;
    background-color: var(--v-accent-lighten1)!important;
    margin-top: 1em;
  }
  div.lower {
    align-items: center;
    justify-content: center!important;
    display: flex;
    gap: 0em;
    flex: 0 1 auto!important;
    flex-wrap: wrap;
    padding: 0.4em 1em;
    position: relative;
    background-color: var(--v-accent-lighten2)!important;
  }
  div.lower > nav > a {
    margin: 0em 1em;
    color: white;
  }
  a {
    color: #2196f3;
    text-decoration: none;
  }
  a:hover {
    color: #2196f3!important;
    cursor: pointer;
  }
  ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 14em;
    animation: nav-load 750ms ease-in-out;
  }
  ul.navbar li {
    background: #1b1d22;
    margin-top: 0.5em;
    padding: 0.5em;
    border-right: 0.3em solid white;
    transition: all 0.3s;
  }
  ul.navbar li:hover {
    box-shadow: #000 2px 2px 2px;
    transition: all 0.3s;
  }
  ul.navbar a {
    text-decoration: none; 
    color: #fff;
    transition: all 0.3s;
  }
  .navbar:has(a:hover) a:not(:hover) {
    opacity: 0.5;
    transition: all 350ms ease!important;
  }
  .navbar > a {
    transition: all 350ms ease!important;
  }
  ul.navbar > details > summary {
    background: #1b1d22;
    padding: 0.5em;
    margin-top: 0.5em;
    border-right: 0.3em solid white;
    transition: all 0.3s;
  }
  ul.navbar > details {
    cursor: pointer;
  }
  ul.navbar > details > a > li {
    background: #333;
    margin: .3em;
    padding: 0.5em;
    border-right: 0.3em solid white;
    transition: all 0.3s;
  }
   address {
    margin-top: 1em;
    padding-top: 5em;
    font-size: 13px;
    display: flex;
    justify-content: right;
   }
   div.text1 {
    padding-right: 10px;
    border: thin dotted;
    padding: 7px;
   }
   div.text2 {
    padding-left: 10px;
    border: thin dotted;
    padding: 7px;
   }
   a.address-name-link {
    text-decoration: underline;
    color: lightblue;
    padding: 0px;
    border: 0px;
    transition: all 0.3s;
   }
   a.address-name-link:hover {
    text-decoration: underline;
    color: #007FFF;
    background: #1b1d22;
    padding: 2px 5px;
    border: 1px solid #555;
    border-radius: 30px;
    transition: all 0.3s;
   }
   ul.button-grid {
    padding: 0;
    display: grid;
    gap: 0em 1.3em;
    grid-template-columns: repeat(auto-fit,minmax(600px,1fr));
   }
   ul.button-grid a {
    text-decoration: none;
    color: white;
   }
   ul.button-grid li {
    list-style: none;
    background: #1b1d22;
    padding: 20px;
    font-weight: bold;
    font-size: 22px;
    border-left: 5px solid white;
    margin: 10px 0px;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
    transition: all 500ms;
    display: grid;
    animation: button-grid-load 750ms ease-in-out;
   }
   ul.button-grid li:hover {
    box-shadow: #000 3px 3px 10px;
    transition: all 500ms;
    border-color: #007FFF;
   }
   .button-grid-text-logo-dev {
    background: #007FFF;
    padding: 10px;
    margin-right: 10px;
   }
   .button-grid-text-logo-fact {
    background: green;
    padding: 10px;
    margin-right: 10px;
   }
   ul.button-grid li > em {
    font-style: normal;
    color: #bbb;
    font-size: 13px;
   }
   .button-grid-text-description::before {
    content: "`";
    background-color: #bbb;
    color: transparent;
    text-shadow: none;
    margin: 0px 5px 0px 6px;
   }
   h2.overige {
    border-bottom: 2px dotted #555;
    }
  .tabler, .tabler th, .tabler td {
    border: none;
    text-align: left;
    padding: 8px;
  }
  tr.table-top-row {
    background-color: #1b1d22;
    color: white;
  }
  .tabler {
      margin-top: 20px;
      margin-bottom: 40px;
      border-collapse: collapse;
      border-spacing: 0;
      background-color: #3b3b3b;
      width: 100%;
      color: #000;
  }
  table {
      display: table;
      border-collapse: separate;
      box-sizing: border-box;
      text-indent: initial;
      border-spacing: 2px;
      border-color: grey;
  }
  .tabler tbody tr:nth-child(even) {
    background-color: #2d2d2d;
}
.tabler tr {
  color: white;
}
.tabler:has(tr:hover) tr:not(:hover) {
  transition: all 350ms ease!important;
  color: #bbb;
}
.tabler > tr {
  transition: all 350ms ease!important;
}
/* Animaties */
@keyframes nav-load {
0% {
  transform: translateY(-50%);
  opacity: 0%;
  filter: blur(5px);
}
100% {
  transform: translateY(0);
  opacity: 100%;
  filter: blur(0px);
}
}
@keyframes button-grid-load {
0% {
  transform: translateY(40%);
  opacity: 0%;
  filter: blur(5px);
}
100% {
  transform: translateY(0%);
  opacity: 100%;
  filter: blur(0px);
}
}
@keyframes footer-load {
  0% {
    scale: 0;

  }
  100% {
    scale: normal;
  }
  }
/* HTML Element Overides */
blockquote.is-warning {
  background-color: var(--v-blockquote-is-warning-base)!important;
  color: var(--v-blockquote-is-warning-color)!important;
  border-color: var(--v-blockquote-is-warning-color)!important;
  border: 1px solid!important;
}
blockquote.is-warning * {
  color: var(--v-blockquote-is-warning-color)!important;
}
blockquote.is-warning code {
  color: var(--v-blockquote-is-warning-color)!important;
}
blockquote.is-warning strong {
  border-color: var(--v-blockquote-is-warning-color)!important;
}

/* < --- > */

blockquote.is-info {
  background-color: var(--v-blockquote-is-info-base)!important;
  color: var(--v-blockquote-is-info-color)!important;
  border-color: var(--v-blockquote-is-info-color)!important;
  border: 1px solid!important;
}
blockquote.is-info * {
  color: var(--v-blockquote-is-info-color)!important;
}
blockquote.is-info code {
  color: var(--v-blockquote-is-info-color)!important;
}
blockquote.is-info strong {
  border-color: var(--v-blockquote-is-info-color)!important;
}

/* < --- > */

blockquote.is-success {
  background-color: var(--v-blockquote-is-success-base)!important;
  color: var(--v-blockquote-is-success-color)!important;
  border-color: var(--v-blockquote-is-success-color)!important;
  border: 1px solid!important;
}
blockquote.is-success * {
  color: var(--v-blockquote-is-success-color)!important;
}
blockquote.is-success code {
  color: var(--v-blockquote-is-success-color)!important;
}
blockquote.is-success strong {
  border-color: var(--v-blockquote-is-success-color)!important;
}

/* < --- > */

blockquote.is-danger {
  background-color: var(--v-blockquote-is-danger-base)!important;
  color: var(--v-blockquote-is-danger-color)!important;
  border-color: var(--v-blockquote-is-danger-color)!important;
  border: 1px solid!important;
}
blockquote.is-danger * {
  color: var(--v-blockquote-is-danger-color)!important;
}
blockquote.is-danger code {
  color: var(--v-blockquote-is-danger-color)!important;
}
blockquote.is-danger strong {
  border-color: var(--v-blockquote-is-danger-color)!important;
}

/* < --- > */

blockquote {
  background-color: var(--v-blockquote-base)!important;
  border-radius: var(--v-blockquote-border-radius)!important;
  color: var(--v-blockquote-color)!important;
  border: 1px solid var(--v-blockquote-color)!important;
  box-shadow: 0 0 2px 0 var(--v-blockquote-box-shadow)!important;
  font-size: 20px;
}
blockquote * {
  color: var(--v-blockquote-color)!important;
}
blockquote code {
  color: var(--v-blockquote-color)!important;
}
blockquote strong {
  border-bottom: 0px solid var(--v-blockquote-color)!important;
}
blockquote {
  padding: .5rem!important;
  margin: 1rem 0rem;
  font-family: var(--v-blockquote-ff);
}
code, var, samp {
  font-size: .9em;
  background: rgba(0,0,0,.2);
  color: #aac8e4;
  border: 1px solid rgba(0,0,0,.4);
  padding: 0 5px;
  font-family: Roboto Mono;
  font-weight: 400;
  box-shadow: none;
  font-style: normal;
}
kbd {
  font-size: .9em;
  background: rgba(0,0,0,.4);
  color: #fff;
  padding: 2px 6px;
  font-family: montserrat;
  font-weight: 600;
  box-shadow: none;
  font-style: normal;
  border-radius: 2px;
}
hr {
  border: none;
  border-bottom: 1px solid #555;
  margin-bottom: 1em;
  margin-top: 1em;
}
i.mdi {
  font-style: none;
}
/* Utility Classes */
.text--color-youtube {color: #ff0000!important}
.text--color-discord {color: #5865F2!important}
/* Media Rules */
@media (max-width: 55em) {
  body {
    padding-top: .5em;
    padding-bottom: 1em;
    padding-left: .5em;
    padding-right: .5em;
  }
  ul.navbar {
    position: unset;
    top: auto;
    left: auto;
    width: 100%;
    padding-bottom: 1em;
  }
  ul.navbar li {
    border: none;
  }
  ul.navbar > details > summary {
    border-right: none;
  }
}