@import url(/assets/fonts/Uni-Sans-CAPS/font.css);

:root {
    --font-family: Uni Sans CAPS;
    --font-weight: 900;
    --font-style: normal;
    --font-size: 1rem;
    --font-color: #ffffff;

    --border-radius: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    font-size: var(--font-size);
    color: var(--font-color);
    height: 100vh;
}

.weather-widget {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: calc(var(--font-size) * 5);
}

body[data-time="night"] .weather-widget {
    background: linear-gradient(hsl(224, 14%, 15%), hsl(255, 20%, 4%));
}

body[data-time="day"] .weather-widget {
    background: linear-gradient(hsl(194, 97%, 44%), hsl(219, 94%, 41%));
}

.weather-widget .weather-subtitle {
    font-size: calc(var(--font-size) * 2);
}

.weather-widget .temperature {
    font-size: calc(var(--font-size) * 3.5);
}

.weather-widget .temperature small {
    font-size: calc(var(--font-size) * 2);
    color: #aaa;
}

.weather-widget img {
    width: calc(var(--font-size) * 17.5);
    height: calc(var(--font-size) * 17.5);
}
