.i-button-grid {
  --i-button-grid-background-primary: var(--background-alt);
  --i-button-grid-background-alt: var(--background-soft);
  --i-button-grid-background-border: var(--background-darken);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: .5rem;

  .i-button-grid-item {
    background: var(--i-button-grid-background-primary);
    border: 1px solid var(--i-button-grid-background-border);
    color: #ffffff;
    text-decoration: none;
    padding-inline: .5rem;
    padding-block: .25rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: background .25s ease;

    &:hover {
      background: var(--i-button-grid-background-alt);
    }

    div.i-button-grid-item-icon {
      font-size: 3em;
    }

    img.i-button-grid-item-icon {
      height: 3em;
      width: 3em;
    }

    .i-button-text-wrapper {
      .i-button-grid-item-title {
        padding: 0!important;
        font-weight: bold;
      }
      
      .i-button-grid-item-description {
        padding: 0!important;
      }
    }
  }
}