.tabset {
  background: var(--background-alt);
  width: 50rem;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
}

.tabset nav {
  margin-bottom: 1rem;
  position: relative;
}

.tabset nav ul {
  display: flex;
}

.tabset nav ul li {
  width: 100%;
}

.tabset nav ul li button {
  all: unset;
  background: var(--background-soft);
  padding-block: .75rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
  border-radius: .5rem;
}

.tabset nav ul li.active button {
  /* color: var(--link-primary); */
  cursor: default;
}

.tabset nav ul li:not(.active):hover button,
.tabset nav ul li:not(.active):focus-visible button {
  background: var(--background-light);
}

.tabset nav ul li:hover button,
.tabset nav ul li:focus-visible button {
  transition: background .3s ease;
}

.tabset nav .tabset-active-indicator {
  background: var(--link-primary);
  height: 5px;
  border-radius: 100vmax;
  position: absolute;
  left: 0%;
  transition: left .5s ease;
}

.tabset div[data-tab] {
  padding-inline: 1rem;
  padding-block: .5rem 1rem;
}

/* ---------------- */
/* Animation States */
/* ---------------- */

.tabset div[data-tab][data-state="becoming-inactive"] {
  display: none;
}

.tabset div[data-tab][data-state="inactive"] {
  display: none;
}

.tabset div[data-tab][data-state="becoming-active"] {
}

.tabset div[data-tab][data-state="active"] {
}

/* -------------- */
/* Helper Classes */
/* -------------- */

.tabset.full {
  width: 100%;
}

.tabset.full-height {
  height: 100%;
}

.tabset.not-rounded {
  border-radius: 0;
}

.tabset.alt-background {
  background: var(--background-primary);
}
