@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("/assets/fonts/Uni-Sans-CAPS/font.css");

:root {
  /* Not recommended to change */
  --canvas-spacing: 1em; /* Spacing at the bottom and the left of the canvas*/
  --height: 300px;
  --width: 1000px;
  --border-radius: 30px;

  --height-small: 100px;
  --border-radius-small: 15px;

  --icon-play: "\F040A";
  --icon-pause: "\F03E4";
  --icon-play-pause: var(--icon-pause);

  --progress-bar-visibility: block;

  /* Play around here :) */
  --transition-time: 1s;
  --transition-timing-function: ease;

  --background-opacity: 1;
  --background-hue: 240; /* 0, 30, 230, 240, 345 (these are recommendations, you can use 0-360)*/
  --background-saturation: 100%;
  --background-lightness1: 75%;
  --background-lightness2: 60%;

  --color-primary: rgba(255, 255, 255, 1);
  --color-accent: rgba(255, 255, 255, 0.7);
  --alt-background-color: #1b1b1e; /* Used for when album covers are transparent */
  --font-family: Montserrat; /* Casing MATTERS! and it NEEDS to be on your local machine, unless you know what you're doing */
}

body,
html {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  height: var(--height);
  width: var(--width);
  position: fixed;
  bottom: var(--canvas-spacing);
  left: var(--canvas-spacing);
  font-family: var(--font-family);
}

.container > img {
  width: var(--height);
  height: var(--height);
  aspect-ratio: 1;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  background: var(--alt-background-color);
  border-right: 1px solid white;
}

.container .bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    hsl(
      var(--background-hue),
      var(--background-saturation),
      var(--background-lightness1),
      var(--background-opacity)
    ),
    hsl(
      var(--background-hue),
      var(--background-saturation),
      var(--background-lightness2),
      var(--background-opacity)
    )
  );
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  width: calc(var(--width) - var(--height));
}

.container .bottom-container .texts {
  display: flex;
  flex-direction: column;
  padding-inline: 1em;
  width: 100%;
  text-align: center;
}

.texts p {
  margin: 0;
  padding: 0;
}

.texts .songName {
  font-size: 2.5em;
  font-weight: 600;
  color: var(--color-primary);
}

.texts .artistName {
  font-size: 2em;
  font-weight: 200;
  color: var(--color-accent);
}

.progress-bar {
  width: 550px;
  height: 8px;
  border-radius: 100vmax;
  background: #fff;
  position: relative;
  margin-top: 2em;
  display: var(--progress-bar-visibility);
}

.progress-bar .start-time {
  position: absolute;
  top: -0.5em;
  font-size: 1.5em;
  color: var(--color-accent);
}

.progress-bar .end-time {
  position: absolute;
  top: -0.5em;
  right: 0;
  font-size: 1.5em;
  color: var(--color-accent);
}

.progress-bar .status-buttons .play-pause {
  position: absolute;
  top: -0.5em;
  right: 50%;
  font-size: 1.5em;
  padding-inline: 2px;
  color: var(--color-accent);
  background: hsl(var(--background-hue), 60%, 40%);
  border-radius: 100vmax;
}

.progress-bar .status-buttons .play-pause::before {
  content: var(--icon-play-pause);
  font-family: Material Design Icons;
}

/* Small Sizing */
* {
  transition: all var(--transition-time) var(--transition-timing-function);
}

body.small .container {
  height: var(--height-small);
}

body.small .container > img {
  width: var(--height-small);
  height: var(--height-small);
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}

body.small .container .bottom-container {
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
  width: auto;
  padding-left: 1em;
}

body.small .container .bottom-container .texts {
  text-align: left;
}

body.small .container .bottom-container .texts .songName {
  font-size: 2em;
}

body.small .container .bottom-container .texts .artistName {
  font-size: 1.5em;
  margin: 0;
}

body.small .progress-bar {
  width: 0;
  background: transparent;
  color: transparent;
  display: none;
}

body.small .progress-bar .end-time,
body.small .progress-bar .start-time {
  color: transparent;
}

/* websocketDisconnect */

body.websocketDisconnect * {
  display: none;
}

body.websocketDisconnect::before {
  content: "Websocket Disconnected...";
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: Arial;
  font-size: 60px;
  background: rgb(255, 82, 82);
  color: white;
  position: absolute;
}

body.websocketDisconnect::after {
  content: "Connect in streamer.bot: `Servers/Clients` --> `Websocket Server` and click on `Start Server`. When connected refresh the browser.";
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  font-family: Arial;
  font-size: 20px;
  color: white;
  position: absolute;
}