.i-modal-wrapper {
  --i-modal-theme: var(--accent-secondary);
  --i-modal-theme-alt: var(--accent-secondary-alt);
  --i-modal-background: var(--background-alt);
  --i-modal-background-alt: var(--background-primary);
  --i-modal-color: var(--text-900);
  --i-modal-color-alt: var(--text-700);

  position: fixed;
  z-index: 998;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  
  .i-modal {
    border-radius: .5rem;
    background: var(--i-modal-background);
    width: 85vw;
    max-width: 85rem;
    height: 70vh;
    max-height: 50rem;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 95vw;
    max-height: 95vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  
    .i-modal-header {
      background: var(--i-modal-theme);
      min-height: 3.5rem;
      padding-inline: 1rem;
      overflow: hidden;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;

      .i-modal-header__info-wrapper {
        display: flex;
        gap: .5rem;
        align-items: center;

        .i-modal-header__info {
          width: fit-content;
          display: flex;
          flex-direction: column;
          justify-content: center;
          
          .i-modal-header__title,
          .i-modal-header__subtitle {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
      
          .i-modal-header__title {
            font-weight: bold;
            font-size: 1.5rem;
            
            display: flex;
            align-items: center;
  
            small {
              font-size: .75rem;
              padding-left: .5ch;
              color: var(--i-modal-color-alt);
            }
          }
  
          .i-modal-header__subtitle {
            font-size: .75rem;
            color: var(--i-modal-color-alt);
          }
        }

        .i-modal-header__prepend-icon {
          font-size: 1.75rem;
        }
      }
  
  
      .i-modal-header__close-button {
        outline: none;
        
        cursor: pointer;
        font-weight: 900;
        
        padding: .25rem;
        position: absolute;
        right: .75rem;
        top: 50%;
        transform: translateY(-50%);

        color: var(--i-modal-color);
        background: var(--i-modal-theme);
        border: 2px solid currentColor;
        border-radius: .25rem;

        &:active {
          color: var(--i-modal-color-alt);
        }
      }
    }
  
    .i-modal-main {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      padding-block: 1rem;
      padding-inline: 2rem;
      display: flex;
      flex-direction: column;
    }

    .i-modal-footer {
      width: 100%;
      min-height: 3.5rem;
      padding-inline: 1rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      background: var(--i-modal-background-alt);

      &[data-type="elevated"] {
        box-shadow: 0 0 20px 2px var(--text-background-800);
      }

      .i-modal-footer__buttons {
        display: flex;
        gap: .5rem;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
  
        .i-modal-footer-buttons__plain,
        .i-modal-footer-buttons__theme {
          background: none;
          outline: 0;
          border: 0;
          border-radius: .25rem;
          height: fit-content;
          color: var(--i-modal-color);
          text-transform: uppercase;
          letter-spacing: 2px;
          cursor: pointer;

          &:disabled {
            filter: brightness(50%);
          }
        }
  
        .i-modal-footer-buttons__plain {
          padding-inline: .75em;
          padding-block: .5em;
          font-size: .7rem;
          color: var(--i-modal-color);
          transition: background .2s ease;
          cursor: pointer;
  
          &:hover,
          &:focus-visible {
            background: var(--background-soft);
          }
  
          &:active {
            background: none;
          }
        }
  
        .i-modal-footer-buttons__theme {
          background: var(--i-modal-theme);
          transition: background .2s ease;
          padding-inline: .75rem;
          padding-block: .5rem;
  
          &:hover,
          &:focus-visible {
            background: var(--i-modal-theme-alt);
          }
  
          &:active {
            background: var(--i-modal-theme);
          }
        }
      }
    }
  }
}

/* ----- */
/* Sizes */
/* ----- */

.i-modal-wrapper {
  .i-modal.fullscreen {
    border-radius: 0;
  }

  .i-modal {
    &.submit {
      width: 30rem;
      height: 17.5rem;
    }
    
    &.small {
      width: 35rem;
      height: 25rem;
    }
    
    &.medium {
      width: 60rem;
      height: 35rem;
    }
    
    &.large {
      width: 100rem;
      height: 55rem;
    }
    
    &.fullscreen {
      width: 100vw;
      max-width: 100vw;
      height: 100vh;
      max-height: 100vh;
    }
  }
}

/* ---------- */
/* Animations */
/* ---------- */

/* Center */

.i-modal-wrapper[data-state="opening"][data-animation="center"] .i-modal {
  animation: modalAnimationDefaultOpening forwards .5s;
}

.i-modal-wrapper[data-state="closing"][data-animation="center"] .i-modal {
  animation: modalAnimationDefaultClosing forwards .5s;
}

@keyframes modalAnimationDefaultOpening {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes modalAnimationDefaultClosing {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0;
    opacity: 0;
  }
}

/* Bottom */

.i-modal-wrapper[data-state="opening"][data-animation="bottom"] .i-modal {
  animation: modalAnimationFromBottomOpening forwards .5s;
}

.i-modal-wrapper[data-state="closing"][data-animation="bottom"] .i-modal {
  animation: modalAnimationFromBottomClosing forwards .5s;
}

@keyframes modalAnimationFromBottomOpening {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes modalAnimationFromBottomClosing {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

/* Top */

.i-modal-wrapper[data-state="opening"][data-animation="top"] .i-modal {
  animation: modalAnimationFromTopOpening forwards .5s;
}

.i-modal-wrapper[data-state="closing"][data-animation="top"] .i-modal {
  animation: modalAnimationFromTopClosing forwards .5s;
}

@keyframes modalAnimationFromTopOpening {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes modalAnimationFromTopClosing {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
