.modal-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  overflow: hidden;
  border-radius: .5rem;
}

.modal {
  background: var(--background-alt);
  width: 85vw;
  max-width: 85rem;
  height: 70vh;
  max-height: 50rem;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 95vw;
  max-height: 95vh;
  padding: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-wrapper:has(.modal.fullscreen) {
  border-radius: 0;
}

.modal .header {
  background: var(--color-link-hover);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 3.5rem;
  padding-inline: 1rem;
  overflow: hidden;
}

.modal .close-button {
  padding: .25rem;
  border-radius: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  
  font-weight: 900;
  color: var(--text-900);
  border: 2px solid currentColor;
  border-radius: .25rem;
  margin-left: auto;
}

.modal .header h1,
.modal .header h2,
.modal .header h3,
.modal .header h4,
.modal .header h5,
.modal .header h6 {
  display: flex;
  align-items: center;
}

.modal .header h1 small,
.modal .header h2 small,
.modal .header h3 small,
.modal .header h4 small,
.modal .header h5 small,
.modal .header h6 small {
  font-size: .75rem;
  padding-left: .5ch;
  color: var(--text-700);
}

.modal .header .subtitle {
  font-size: .75rem;
  color: var(--text-800);
}

.modal .main {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
}

/* ----- */
/* Sizes */
/* ----- */

.modal.prompt {
  width: 25rem;
  height: 15 rem;
}

.modal.small {
  width: 35rem;
  height: 25rem;
}

.modal.medium {
  width: 60rem;
  height: 35rem;
}

.modal.large {
  width: 100rem;
  height: 55rem;
}

.modal.fullscreen {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

/* -------------- */
/* Opacity Styles */
/* -------------- */

body[data-modal-state="closing"] > *:not(.modal-wrapper):not(.alert-wrapper):not(.snackbar-wrapper) {
  transition: opacity .5s ease;
}

body[data-modal-state="opening"] > *:not(.modal-wrapper):not(.alert-wrapper):not(.snackbar-wrapper),
body[data-modal-state="opened"] > *:not(.modal-wrapper):not(.alert-wrapper):not(.snackbar-wrapper) {
  transition: opacity .5s ease;
  opacity: .47;
  pointer-events: none;
}

/* ---------- */
/* Animations */
/* ---------- */

body[data-modal-state="opening"] .modal:not(.modal-animation) {
  animation: modalAnimationDefaultOpening forwards .5s;
}

body[data-modal-state="closing"] .modal:not(.modal-animation) {
  animation: modalAnimationDefaultClosing forwards .5s;
}

@keyframes modalAnimationDefaultOpening {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes modalAnimationDefaultClosing {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0;
    opacity: 0;
  }
}

body[data-modal-state="opening"] .modal.modal-animation.animate-from-bottom {
  animation: modalAnimationFromBottomOpening forwards .5s;
}

body[data-modal-state="closing"] .modal.modal-animation.animate-from-bottom {
  animation: modalAnimationFromBottomClosing forwards .5s;
}

@keyframes modalAnimationFromBottomOpening {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes modalAnimationFromBottomClosing {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}