@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Root */

:root {
    --background: #0f0f0f;
    --background-alt: #2a2a2a;
    --background-soft: #323232;

    --color-primary: hsl(0 100% 100% / 1);
    --color-alt: hsl(0 100% 100% / .8);
}

/* Reset */

html {
    height: 100vh;
}

body {
    font-family: Inter;
    color: #fff;
    background: #0f0f0f;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1em;
    padding-block: 1.5em;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    font: inherit;
}

ul {
    list-style: none;
}

img,
picture,
video {
    max-width: 100%;
}

button {
    background: none;
    border: none;
    outline: none;
    border-radius: none;
    color: var(--color-primary);
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

/* Blog Grid */

.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1em;
}

.blog-grid li a {
    border: 2px solid var(--background-alt);
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.blog-grid li:hover a {
    border-color: transparent;
}

.blog-grid li img {
    object-fit: cover;
    height: 100px;
    width: 100%;
}

.blog-grid li p {
    padding-inline: .5em;
}

.blog-grid li p.name {
    font-weight: 700;
    color: var(--color-primary);
    padding-top: .5em;
}

.blog-grid li p.description {
    font-weight: 400;
    color: var(--color-alt);
    padding-bottom: .5em;
}



/* Page Info */

.page-info {
    border-bottom: 1px solid #333;
    padding-bottom: .75em;
    margin-bottom: .75em;
}

.page-info h1 {
    font-weight: 700;
    font-size: 1.5em;
    color: var(--color-primary);
}

.page-info p {
    font-size: 1.5em;
    color: var(--color-alt);
}

/* Footer */

footer {
    margin-top: 2em;
}

.back-button {
    padding-block: .5em;
    padding-inline: 1em;
    border: 1px solid currentColor;
    border-radius: 1em;
}

.back-button:hover {
    color: var(--color-alt);
}
