@import url(/assets/fonts/font.css);
@import url(/assets/css/root.css);
@import url(/assets/css/new-root.css);

:root {
    --font-size: 1em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body,
html {
    font-size: var(--font-size);
    font-family: Arial;
    color: #fff;
    background: var(--background-primary);
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: flex;
}

::-webkit-scrollbar {
    background: var(--background-soft);
}

::-webkit-scrollbar-thumb {
    background: var(--background-light);
}

/* --- */
/* nav */
/* --- */

nav {
    background: var(--background-alt);
    width: 20em;
}

nav > ul {
    display: flex;
    flex-direction: column;
    row-gap: .25em;
    height: 100vh;
    overflow-y: auto;

    padding-block: 1em;
}

nav > ul li {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-inline: .5em;
}

nav > ul li button {
    background: var(--background-alt);
    border: 0;
    border-radius: 5px;
    outline: 0;
    color: #fff;
    width: 100%;
    text-align: left;
    padding-inline: .5em;
    padding-block: 1em;
    cursor: pointer;
    font-family: Arial;
}

nav > ul li button:active,
nav > ul li button:focus-visible,
nav > ul li button:hover {
    background: var(--background-soft);
}

nav > ul li.nav-active button {
    color: #a4ceff;
    background: #285292;
}

/* ---- */
/* main */
/* ---- */

main {
    width: 100%;
    height: 100vh;
    margin-inline: 1em;
}

main .event-items {
    display: flex;
    flex-direction: column;
    row-gap: .25em;
    height: 100vh;
    overflow-y: auto;

    padding-block: .5em;
}

main .event-items li {
    display: flex;
    width: 100%;
    padding-inline: .5em;

    background: var(--background-soft);
    border: 0;
    border-radius: 5px;
    outline: 0;
    width: 100%;
    text-align: left;
    padding-inline: .5em;
    padding-block: 1em;
}
