<link rel="stylesheet" href="/src/css/components/header.css">
<header class="primary-header">
  <a href="/">
    <div class="title-section">
      <img src="/public/favicon.ico" alt="favicon">
      <div class="titles">
        <p class="website-name">OBS Studio Remote Portal</p>
        <p class="author">by Ik1497</p>        
      </div>
    </div>
  </a>
  <section class="connection-section-form">
    <div>
      <label for="Host">Host</label>
      <input type="text" value="127.0.0.1" class="input-Host" name="Host">        
    </div>
    <div>
      <label for="Port">Port</label>
      <input type="number" value="4455" class="input-Port" name="Port">
    </div>
    <div>
      <label for="Password">Password</label>
      <input type="password" class="input-Password" name="Password">        
    </div>
    <div>
      <button onclick="localStorage.setItem(`OBS-Development-Portal__Connection-host`, document.querySelector('.connection-section-form input.input-Host').value); localStorage.setItem(`OBS-Development-Portal__Connection-port`, document.querySelector('.connection-section-form input.input-Port').value); localStorage.setItem(`OBS-Development-Portal__Connection-password`, document.querySelector('.connection-section-form input.input-Password').value); connectOBS()" class="connection-button">Connect</button>
    </div>
  </section>
</header>