<link rel="stylesheet" href="/src/css/components/navigation.css">
<nav class="primary-navigation">
    <ul>
        <li aria-label="Home" title="Home">
            <a href="#">
                <i class="mdi mdi-home"></i>
            </a>
        </li>
        <li aria-label="Scenes" title="Scenes">
            <a href="#Scenes">
                <i class="mdi mdi-dots-grid"></i>
            </a>
        </li>
        <li aria-label="Studio Mode" title="Studio Mode">
            <a href="#Studio-Mode">
                <i class="mdi mdi-arrow-split-vertical"></i>
            </a>
        </li>
    </ul>
</nav>